# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
connection = sqlite3.connect('data.sqlite')
cursor = connection.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cursor.execute('''SELECT firstName, lastName FROM employees''').fetchall()

[('Diane', 'Murphy'),
 ('Mary', 'Patterson'),
 ('Jeff', 'Firrelli'),
 ('William', 'Patterson'),
 ('Gerard', 'Bondur'),
 ('Anthony', 'Bow'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Tom', 'King'),
 ('Mami', 'Nishi'),
 ('Yoshimi', 'Kato'),
 ('Martin', 'Gerard')]

## Do any offices have no employees?

In [4]:
#Your code here
cursor.execute('''SELECT * FROM employees JOIN offices ON employees.officeCode = offices.officeCode''').fetchall()

[('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1056',
  'Patterson',
  'Mary',
  'x4611',
  'mpatterso@classicmodelcars.com',
  '1',
  '1002',
  'VP Sales',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1076',
  'Firrelli',
  'Jeff',
  'x9273',
  'jfirrelli@classicmodelcars.com',
  '1',
  '1002',
  'VP Marketing',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1088',
  'Patterson',
  'William',
  'x4871',
  'wpatterson@classicmodelcars.com',
  '6',
  '1056',
  'Sales Manager (APAC)',
  '6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  '',
  'Australia',
  'NSW 2010',
  'APAC'),
 ('1102',
  'Bondur',
  'Gerard',
  'x5408',
  'gbondur@classicmodelcars.com',
  '4',
  '1056',
  'Sale Manager (EMEA)',
  '4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA'),
 ('1143',
  'Bow',
  'Anthony',
  'x5428',
  'abow@classicmodelcars.com',
  '1',
  '1056',
  'Sales Manager (NA)',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1165',
  'Jennings',
  'Leslie',
  'x3291',
  'ljennings@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1166',
  'Thompson',
  'Leslie',
  'x4065',
  'lthompson@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep',
  '1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('1188',
  'Firrelli',
  'Julie',
  'x2173',
  'jfirrelli@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  '2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('1216',
  'Patterson',
  'Steve',
  'x4334',
  'spatterson@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  '2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('1286',
  'Tseng',
  'Foon Yue',
  'x2248',
  'ftseng@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep',
  '3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('1323',
  'Vanauf',
  'George',
  'x4102',
  'gvanauf@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep',
  '3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('1337',
  'Bondur',
  'Loui',
  'x6493',
  'lbondur@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep',
  '4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA'),
 ('1370',
  'Hernandez',
  'Gerard',
  'x2028',
  'ghernande@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep',
  '4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA'),
 ('1401',
  'Castillo',
  'Pamela',
  'x2759',
  'pcastillo@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep',
  '4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA'),
 ('1501',
  'Bott',
  'Larry',
  'x2311',
  'lbott@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep',
  '7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  '',
  'UK',
  'EC2N 1HN',
  'EMEA'),
 ('1504',
  'Jones',
  'Barry',
  'x102',
  'bjones@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep',
  '7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  '',
  'UK',
  'EC2N 1HN',
  'EMEA'),
 ('1611',
  'Fixter',
  'Andy',
  'x101',
  'afixter@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep',
  '6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  '',
  'Australia',
  'NSW 2010',
  'APAC'),
 ('1612',
  'Marsh',
  'Peter',
  'x102',
  'pmarsh@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep',
  '6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  '',
  'Australia',
  'NSW 2010',
  'APAC'),
 ('1619',
  'King',
  'Tom',
  'x103',
  'tking@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep',
  '6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  '',
  'Australia',
  'NSW 2010',
  'APAC'),
 ('1621',
  'Nishi',
  'Mami',
  'x101',
  'mnishi@classicmodelcars.com',
  '5',
  '1056',
  'Sales Rep',
  '5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  '',
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('1625',
  'Kato',
  'Yoshimi',
  'x102',
  'ykato@classicmodelcars.com',
  '5',
  '1621',
  'Sales Rep',
  '5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  '',
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('1702',
  'Gerard',
  'Martin',
  'x2312',
  'mgerard@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep',
  '4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA')]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!