# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
connection = sqlite3.connect('data.sqlite')
cursor = connection.cursor()

## Display the names of all the employees in Boston.

In [10]:
#Your code here
cursor.execute('''
                SELECT 
                    firstName, lastName 
                FROM employees 
                JOIN offices 
                ON employees.officeCode = offices.officeCode 
                WHERE offices.city = "Boston"'''
              ).fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [14]:
cursor.execute('''
                SELECT
                    city, COUNT(*)
                FROM offices 
                JOIN employees
                USING (officeCode)
                GROUP BY 1;''').fetchall()

[('Boston', 2),
 ('London', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('San Francisco', 6),
 ('Sydney', 4),
 ('Tokyo', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [18]:
# Your code here
#How many customers per employee?
cursor.execute('''
                SELECT
                    firstName, lastName, count(*)
                FROM
                    employees
                JOIN
                    customers
                ON employees.employeeNumber = salesRepEmployeeNumber
                GROUP BY 1''').fetchall()

[('Andy', 'Fixter', 5),
 ('Barry', 'Jones', 9),
 ('Foon Yue', 'Tseng', 7),
 ('George', 'Vanauf', 8),
 ('Gerard', 'Hernandez', 7),
 ('Julie', 'Firrelli', 6),
 ('Larry', 'Bott', 8),
 ('Leslie', 'Thompson', 12),
 ('Loui', 'Bondur', 6),
 ('Mami', 'Nishi', 5),
 ('Martin', 'Gerard', 6),
 ('Pamela', 'Castillo', 10),
 ('Peter', 'Marsh', 5),
 ('Steve', 'Patterson', 6)]

In [25]:
# Your code here
#How many customers ordered more than 5 orders?
cursor.execute('''
                SELECT customerName, count(*)
                FROM customers
                JOIN orders
                ON customers.customerNumber = orders.customerNumber
                GROUP BY customers.customerNumber HAVING COUNT(*) > 5''').fetchall()

[('Mini Gifts Distributors Ltd.', 17), ('Euro+ Shopping Channel', 26)]

In [26]:
# Your code here
#Number of product lines in products
cursor.execute('''
                SELECT productName, count(*)
                FROM products
                JOIN productlines
                ON ''')

OperationalError: no such column: productName

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!